:root {
  --main-bg-color: #e9eef2;
}

body {
  background-color: var(--main-bg-color);
  margin: 0%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content-dashboard {
  /* position: relative; */
  flex-direction: column;
  margin: 66px 0vw 0px 15vw;
  /* width: max-content; */
}

@media (max-width: 1024px) {
  .content-dashboard {
    /* position: relative; */
    margin: 66px 0vw 0px 155px;
  }
}