:root {
  --main-bg-color: #e6f1fa;
  --blue-light: #c7dff5;
  --blue-midle: #95bad3;
  --blue-dark: #1d6ea6;
  --selected-color: #5691bb;

}

.content-scroll {
  max-height: 70vh;
  overflow-y: scroll;
}

table.paleBlueRows {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #FFFFFF;
  width: 80vw;

  text-align: left;
  border-collapse: collapse;
}

table.paleBlueRows td {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}

table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 9px 2px;
}

table.paleBlueRows tbody td {
  font-size: 13px;
}

table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}

.content-btn-table {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-table-edit {
  border-style: none;
  width: 90px;
  border-radius: 15px;
  color: #434211;
  background-color: #e2e147;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #dad80e;
  }
}

.btn-table-delete {
  border-style: none;
  width: 90px;
  border-radius: 15px;
  color: white;
  background-color: #eb0f0f;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #ee4c4c;
  }
}

table.paleBlueRows thead {
  background: #0B6FA4;
  border-bottom: 3px solid #FFFFFF;
  /* border-style: none; */
  position: sticky;
  top: 0px;
}

table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
  position: sticky;
  top: 0px;
}

table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot td {
  font-size: 14px;
}


/* FORMULARIO DE BUSQUEDA */

.form-search-table {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0px 20px;
  gap: 10px;
}

.container-form-search {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px 40px 20px 0px;
}

.btn-search-new {
  border-style: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  background-color: #0ebf13;
  color: white;
  width: 120px;
  cursor: pointer;

  &:hover {
    background-color: #58c45e;
  }
}

.form-search-table button,
.form-search-table input,
.form-search-table select {
  border-style: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 1rem;

  &:focus {
    outline-style: none;
  }
}

.form-search-table button {
  background-color: #0ebf13;
  color: white;
  width: 120px;
  cursor: pointer;

  &:hover {
    background-color: #58c45e;
  }
}

.form-search-table input {
  width: 300px;
}